<form class="pane-content">
  <h1>Create a New Team</h1>
  <p>
    <label for="item-title">Name</label>
    <input id="item-title" type="text" name="name">
  </p>

  <footer class="buttons">
    <button type="submit">Create</button>
  </footer>
</form>
