<form class="pane-content">
  <h1>{{name}}</h1>
  <p>
    <label for="team-name">Name</label>
    <input id="team-name" type="text" name="name" value="{{name}}">
  </p>

  <footer class="buttons">
    <button type="submit">Save</button>
  </footer>
</form>
