<div class="pane-content">
  <header><h1>{{name}}</h1></header>

  <div class="new-membership">
  </div>

  <div class="memberships">
  </div>

  <footer>
    <a class="button" href="#/teams/{{id}}/edit">Edit</a>
  </footer>
</div>
