<% content_for :head do %>
  <script>
    jQuery(function() {
      window.app = new Application
    })
  </script>
<% end %>

<% content_for :foot do %>
  <script type="text/plain" id="main-template">
    <header id="header">
      <h1>Swordfish</h1>
      <form id="search">
        <input type="search" placeholder="Search…">
      </form>
    </header>

    <div id="vaults"></div>

    <div id="items"></div>

    <div id="details"></div>
  </script>

  <script type="text/plain" id="vault-list-template">
    <h1 class="hover-target">
      Shared Vaults
      <a class="add icon text hover" title="New Vault" href="#/vaults/new">+</a>
    </h1>
  </script>

  <script type="text/plain" id="new-vault-template">
    <form>
      <header><h1>Create a New Vault</h1></header>

      <p>
        <label for="vault_name">Name</label>
        <input id="vault_name" type="text" name="name">
      </p>
      <p>
        <label for="vault_password">Password</label>
        <input id="vault_password" type="password" name="password">
      </p>

      <button type="submit">Create Vault</button>
    </form>
  </script>

  <script type="text/plain" id="vault-template">
    <a href="#/vaults/{{id}}">{{name}}</a>
  </script>

  <script type="text/plain" id="item-template">
    <a href="#/vaults/{{vault_id}}/items/{{item}}">{{hostname}}</a>
  </script>

  <script type="text/plain" id="unlock-vault-template">
    <form>
      <label for="unlock-vault-password">
        Enter the password to unlock <strong>{{name}}</strong>.
      </label>
      <input id="unlock-vault-password" name="password" type="password">
      <button type="submit">Unlock</button>
    </form>
  </script>

  <script type="text/plain" id="show-vault-template">
    <div class="items pane-content">
    </div>
    <footer>
      <a class="icon text" href="#/vaults/{{id}}/items/new" title="New Item">+</a>
    </footer>
  </script>

  <script type="text/plain" id="new-item-template">
    <form class="pane-content">
      <header><h1>Create a New Item</h1></header>
      <p>
        <label for="item-hostname">Hostname</label>
        <input id="item-hostname" type="text" name="hostname">
      </p>

      <p>
        <label for="item-username">Username</label>
        <input id="item-username" type="text" name="username">
      </p>

      <p>
        <label for="item-password">Password</label>
        <input id="item-password" type="password" name="password">
      </p>

      <footer class="buttons">
        <button type="submit">Create</button>
      </footer>
    </form>
  </script>
<% end %>