<% content_for :head do %>
  <script>
    jQuery(function() {
      window.app = new Application
    })
  </script>
<% end %>

<% content_for :foot do %>
  <script type="text/plain" id="main-template">
    <header id="header">
      <h1>Swordfish</h1>
      <form id="search">
        <input type="search" placeholder="Search…">
      </form>
    </header>

    <div id="vaults"></div>

    <div id="items"></div>

    <div id="details"></div>
  </script>

  <script type="text/plain" id="vault-list-template">
    <h1>
      Shared Vaults
      <a class="add icon text" title="New Vault" href="#/vaults/new">+</a>
    </h1>
  </script>

  <script type="text/plain" id="new-vault-template">
    <form>
      <label for="vault_name">Name</label>
      <input id="vault_name" type="text" name="name">

      <label for="vault_password">Password</label>
      <input id="vault_password" type="password" name="password">

      <button type="submit">Create Vault</button>
    </form>
  </script>

  <script type="text/plain" id="vault-template">
    <a href="#/vaults/{{id}}">{{name}}</a>
  </script>

  <script type="text/plain" id="item-template">
    <a href="#/vaults/{{vault_id}}/items/{{item}}">{{hostname}}</a>
  </script>

  <script type="text/plain" id="unlock-vault-template">
    <form>
      <label for="unlock-vault-password">
        Enter the password to unlock <strong>{{name}}</strong>.
      </label>
      <input id="unlock-vault-password" name="password" type="password">
      <button type="submit">Unlock</button>
    </form>
  </script>

  <script type="text/plain" id="show-vault-template">
    <a href="#/vaults/{{id}}/items/new">New Item</a>

    <div class="items">
    </div>
  </script>

  <script type="text/plain" id="new-item-template">
    <form>
      <h1>New Item</h1>

      <label for="item-hostname">Hostname</label>
      <input id="item-hostname" type="text" name="hostname">

      <label for="item-username">Username</label>
      <input id="item-username" type="text" name="username">

      <label for="item-password">Password</label>
      <input id="item-password" type="password" name="password">

      <button type="submit">Create</button>
    </form>
  </script>
<% end %>