<form>
  <h1>Create a Key</h1>

  <p>Enter a passphrase that will be used to secure your private key.</p>

  <input class="wide" type="password" name="passphrase" placeholder="Enter a Passphrase">

  <footer>
    <a href="#key/load">Load existing key</a>
    <button type="submit">Generate Key</button>
  </footer>

  <div id="status"></div>
</form>