<h1>Download Your Private Key</h1>

<p>This private key and your passphrase is required to access all of your data. It is <strong>not saved on the server</strong>, so you will need to upload it whenever you sign in. If you lose this key, you will not be able to access your data.</p>


<footer>
  <a class="download button" download="swordfish.pem" href="{{href}}">Download  Private Key</a>
</footer>
