<h2>Back up your private key</h2>

<p>This private key is required to access all of your data. If you lose this key, you will not be able to access your data.</p>

<a class="download button" download="swordfish.pem" href="{{href}}">Download Private Key</a>