<form>
  <h1>Unlock</h1>

  <p>Enter your passphrase to unlock your private key.</p>
  <p class="error"></p>

  <input class="wide" type="password" name="passphrase" placeholder="Enter Your Passphrase">

  <footer><button type="submit">Unlock</button></footer>
</form>