<form>
  <header><h1>Create a New Vault</h1></header>

  <p>
    <label for="vault_name">Name</label>
    <input id="vault_name" type="text" name="name">
  </p>
  <p>
    <label for="vault_password">Password</label>
    <input id="vault_password" type="password" name="password">
  </p>

  <button type="submit">Create Vault</button>
</form>
