<form>
  <label for="unlock-vault-password">
    Enter the password to unlock <strong>{{name}}</strong>.
  </label>
  <input id="unlock-vault-password" name="password" type="password">
  <button type="submit">Unlock</button>
</form>
