<form>
  Unlock Swordfish to save this login:
  <label>
    Enter your passphrase
    <input type="password">
    <span class="error"></span>
  </label>
  <button type="submit">Unlock</button>
</form>
