<form class="pane-content">
  <h1>Create a New Item</h1>
  <p>
    <label for="item-title">Title</label>
    <input id="item-title" type="text" name="title">
  </p>

  <p>
    <label for="item-username">Username</label>
    <input id="item-username" type="text" name="data.username">
  </p>

  <p>
    <label for="item-password">Password</label>
    <input id="item-password" type="password" name="data.password">
  </p>

  <footer class="buttons">
    <button type="submit">Create</button>
  </footer>
</form>
