<form class="pane-content">
  <header><h1>Create a New Item</h1></header>
  <p>
    <label for="item-hostname">Hostname</label>
    <input id="item-hostname" type="text" name="hostname">
  </p>

  <p>
    <label for="item-username">Username</label>
    <input id="item-username" type="text" name="username">
  </p>

  <p>
    <label for="item-password">Password</label>
    <input id="item-password" type="password" name="password">
  </p>

  <footer class="buttons">
    <button type="submit">Create</button>
  </footer>
</form>
