<div class="pane-content">
  <header><h1>{{title}}</h1></header>
  {{#data}}
  <dl>
    <dt>Username</dt>
    <dd>{{username}}</dd>
    <dt>URL</dt>
    <dd><a href="{{url}}">{{url}}</a></dd>
    <dt>Password</dt>
    <dd>
      <span>
        <span class="password">••••••••••••</span>
        <a class="reveal" href="">reveal</a>
        <a class="hide" href="">hide</a>
      </span>
      <a id="copy_link" data-clipboard-text="{{password}}">copy to clipboard</a>
    </dd>
  </dl>
  {{/data}}

  <footer>
    <a class="button" href="#/items/{{id}}/edit">Edit</a>
  </footer>
</div>
