<div class="pane-content">
  <header><h1>{{title}}</h1></header>
  {{#data}}
  <dl>
    <dt>Username</dt>
    <dd>{{username}}</dd>
    <dt>Password</dt>
    <dd class="hover-target">
      <span class="password">••••••••••••</span>
      <a class="hover reveal" href="">reveal</a>
    </dd>
  </dl>
  {{/data}}

  <footer>
    <a class="button" href="#/items/{{id}}/edit">Edit</a>
  </footer>
</div>