<div class="pane-content">
  <header><h1>{{title}}</h1></header>
  {{#data}}
  <dl>
    <dt>Username</dt>
    <dd>{{username}}</dd>
    <dt>URL</dt>
    <dd><a href="{{url}}">{{url}}</a></dd>
    <dt>Password</dt>
    <dd>
      <span>
        <span class="password">••••••••••••</span>
        <a href="#" title="Reveal" class="reveal icon entypo lock-open"></a>
        <a href="#" title="Hide" class="hide icon entypo lock"></a>
      </span>
      <a href="#" title="Copy to Clipboard" id="copy_link" class="icon entypo clipboard"></a>
    </dd>
  </dl>
  {{/data}}
</div>
<footer>
  <a class="button" href="#/items/{{id}}/edit">Edit</a>
</footer>
