<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Swordfish</title>
  <style>
    html {
      height: 40px;
    }
    body {
      height: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;
    }
    em {
      font-weight: bold;
      font-style: normal;
    }
  </style>
  <script src="lib.js"></script>
  <script src="infobar-init.js"></script>
</head>
<body>
</body>
</html>
