<div id="container">
  <header id="header">
    <h1>Swordfish</h1>
    <nav>
      <a href="/">Sign Out</a>
    </nav>
  </header>
  <div id="content">
    <div id="vaults"></div>

    <div id="items"></div>

    <div id="details"></div>
  </div>
</div>


