<header id="header">
  <h1>Swordfish</h1>
  <form id="search">
    <input type="search" placeholder="Search…">
  </form>
</header>

<div id="vaults"></div>

<div id="items"></div>

<div id="details"></div>
