@import 'compass/css3';
@import 'compass/reset';
@import "blueprint";
@import "entypo";

@include blueprint-typography;

$container-color: rgba(110,83,46,0.2);
$shadow-color: opacify($container-color, 0.1);
$highlight-color: #62C9A6;
$highlight-hover-color: lighten($highlight-color, 7%);

$header-z-index: 50;
$content-z-index: 25;

// ==== debugging ===

#grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: image-url('mockup/grid.png');
  display: none;
  z-index: 100;

  .grid & {
    display: block;
  }
}

// ==== basic ====

$container-border-radius: 3px;

%light {
  background: #f6f7f7;
  box-shadow: inset 0 -1px 0px #fff, 0 0 1px rgba(#000, 0.6), 0 1px 6px rgba(#000, 0.3);
  border-radius: $container-border-radius;
}

* { box-sizing: border-box; }

body, input, button {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

body {
  background: #272829;
}

a {
  &, &:visited {
    color: darken($highlight-color, 10%);
    text-decoration: none;
  }
  &:hover { color: $highlight-color; }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  letter-spacing: -1px;
}

// ==== layout =====

%pane {
  position: absolute;
  top: 0;
  bottom: 0px;
  overflow: hidden;
  z-index: $content-z-index;

  footer {
    height: 53px;
    line-height: 54px;
    border-bottom-left-radius: $container-border-radius;
    border-bottom-right-radius: $container-border-radius;
    padding: 0 18px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
  }

  .pane-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
  }
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

#container {
  @extend .container;
  z-index: $content-z-index;
  position: absolute;
  top: 100px;
  bottom: 18px;
  left: 0;
  right: 0;

  &.setup {
    @extend %pane;
    bottom: auto;

    top: 50%;
    width: 480px;
    height: 300px;
    margin-top: -150px;
    background: #fff;
    border-radius: 3px;

    h1 {
      font-size: 2.5em;
    }

    #content {
      top: 0;
      left: 18px;
      right: 18px;
      padding: 18px;
    }
  }

  &>section {
    padding: 9px;
  }
}

#header {
  padding: 0;
  z-index: $header-z-index;

  .container {
    @extend %light;
    margin-top: 18px;
    overflow: hidden;
    padding: 0 18px;
  }

  h1 {
    padding-left: 35px;
    background: url(asset-path('mockup/logo.png', image)) no-repeat left center;
    background-size: 15%;
    text-transform: lowercase;
    font-size: 22px;
    line-height: 64px;
    color: #000;
    display: inline-block;
    float: left;
    width: 195px;
    margin: 0;
    font-weight: bold;
  }

  .button {
    margin: 12px 0;
    float: right;
  }

  #search, nav   {
    line-height: 64px;
    float: left;

    input {
      -webkit-appearance: textfield;
      border-radius: 2px;
      border: 1px solid rgba(#000, 0.2);
      box-shadow: 0 1px 1px #fff;
      font-size: 15px;
      width: 250px;
      padding: 5px 3px;
      outline: none;
      -webkit-font-smoothing: antialiased;
    }
  }
}

#vaults {
  @extend %pane;
  border-radius: $container-border-radius;
  box-shadow:
    inset 0 0 3px rgba(#000, 0.3),
    inset 0 -1px rgba(#fff, 0.1),
    0 0 1px rgba(#fff, 0.1);
  background: rgba(#000, 0.1);
  left: 0px;
  width: 182px;
  color: #fff;

  .icon {
    font-size: 3em;
    vertical-align: sub;
    margin-right: 6px;
  }

  .vault {
    opacity: 0.5;
    &:hover    { opacity: 0.8; }
    &.selected { opacity: 0.95; }

    a {
      display: block;
      color: inherit;
      line-height: 54px;
      padding: 0 18px;
    }
  }
}

#items {
  @extend %pane;
  @extend %light;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  left: 200px;
  right: 50%;

  .item {
    width: 10;
    display: block;
    line-height: 44px;
    padding: 0 9px;
    box-shadow: inset 0 -1px rgba(#000, 0.025), inset 0 1px 1px rgba(#fff, 0.5);
    &:first-child { border-top: none; }
    &:last-child { border-bottom: none; }
    color: #666;
    text-shadow: 0 1px #fff;

    img {
      padding: 5px;
      background-color: #fff;
      border-radius: 3px;
      width: 26px;
      height: 26px;
      margin-right: 10px;
      box-shadow: 0 0 1px rgba(#000, 0.1);
    }

    a {
      display: block;
      color: inherit;
    }

    &:hover {
      background-color: rgba(#fff, 0.3);
    }

    &.selected {
      background-color: $highlight-color;
      text-shadow: none;
      font-weight: 600;
      color: #fff;
    }
  }
}

#details {
  @extend %pane;
  @extend %light;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: 50%;
  right: 0;
  background: #fff;

  header {
    margin: 36px 0;
  }

  .pane-content {
    bottom: 54px;
    padding-left: 36px;
    padding-right: 36px;
  }

  h1 {
    margin-bottom: 0;
    font-size: 30px;
  }
  h2 {
    font-size: 18px
  }

  .url {
    color: rgba(#000, 0.5);
    span {
      opacity: 0.5;
    }
  }

  .password-actions {
    display: inline-block;
    margin-left: 18px;

    .icon {
      opacity: 0.25;
      &:hover { opacity: 1; }
    }

  }

  .hide { display: none; }
  .revealed {
    .hide   { display: inline; }
    .reveal { display: none; }
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
}
.entypo {
  font-size: 2em;
  top: -1px;
  position: relative;
}

dl {
  line-height: 24px;

  dt {
    @extend %label;
  }

  dd {
    margin-left: 90px;
    min-height: 18px;
    padding-left: 9px;
  }
}


%label {
  width: 90px;
  clear: left;
  float: left;
  text-align: right;
  padding: 0 9px;
  color: #999;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  text-shadow: 0 1px 1px #fff;
}

form {
  p {
    @include clearfix;

    label {
      @extend %label;
      line-height: 36px;
    }
  }
}

#item-password-confirmation-status {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px;
  vertical-align: top;
  &.match {
    background-image: image-url('emoji/white_check_mark.png');
  }
  &.mismatch {
    background-image: image-url('emoji/warning.png');
  }
}

input[type=text], input[type=password], textarea {
  font-size: 22px;
}

input.wide {
  width: 100%;
  box-sizing: border-box;
}

button, a.button {
  display: inline-block;
  background-color: $highlight-color;
  color: #f7f7f7;
  border-radius:2px;
  border:none;
  border: 1px solid darken(desaturate($highlight-color, 10%), 3%);
  text-shadow: 0px -1px darken(desaturate($highlight-color, 5%), 15%);
  box-shadow:
    inset 0 -3px 10px rgba(#000, 0.05),
    inset 0 1px 1px rgba(#fff, 0.2);
  padding: 0 18px;
  line-height: 36px;
  text-decoration:none;
  text-align: center;
  font-weight: bold;

  &:hover {
    background: $highlight-hover-color;
  }
}

p.error {
  color: red;
}


.strength-meter {
  width: 100px;
  margin-top: -4px;

  background-color: #f1f1f1;
  box-shadow: inset 0px 1px 1px rgba(#000, 0.1);

  .strength {
    height: 2px;

    &.strong { background-color: $highlight-color; }
    &.average { background-color: #E2C94F; }
    &.weak { background-color: #C25330; }
  }
}
