<h1>Test Site</h1>
<form action="/test" method="POST">
  <label>Username <input name="username"></label>
  <label>Password <input type="password" name="password"></label>
  <button>Sign In</button>
</form>
